<h1>Create a new restaurant</h1>

<div>
<%= simple_form_for (@restaurant) do |f| %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: %w(chinese italian japanese french belgian) %>
  <%= f.submit %>
<% end %>

</div>

  <p></p>
  <p><%= link_to "Back to restaurants", restaurants_path, class:"btn btn-outline-dark" %></p>
